body {
	background: #e4e4e4;
	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	font-size: 1.0rem;
}
p{
	outline: solid 1px green;
}

.btn{
	display: inline-block;
	background: #333;
	padding: 75px 150px;
	color: #FFF;
	text-decoration: none;
}

.btn:hover{
	background: blue;
	color: #e4e4e4;
}
