.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.table-row {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: no-wrap;
	-webkit-flex-wrap: no-wrap;
	width: 100%;
	border: 1px solid red;
}

.table-header {
	background: #EBEBEB;
}

.column-group {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: no-wrap;
	-webkit-flex-wrap: no-wrap;
	border: 1px solid green;
}

.column {
	display: flex;
	flex: 1;
	border: 1px solid red;
	font-size: 11.5px;
	padding: 0.1rem;
	/* letter-spacing: 0.1rem; */
}

.xs {
	/* width: 20px; */
	flex: 0.25;
}

.md {
	flex: 0.5;
}

.sm {
	flex: 0.3;
}

.sm-width{
	width: 80px;
	flex: none;
}
.xs-width{
	width: 50px;
	flex: none;
}
.lg-width{
	min-width: 300px;
	max-width: 400px;
	flex: none;
}

input{
	width: 100%;
}